fichiers/WF2_SEHHA_CALCUL_INDICATEURS.json
{
  "name": "WF2 — SEHHA DATA · Calcul indicateurs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sehha-calcul-indicateurs",
        "options": {}
      },
      "name": "Webhook WF2",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "node-wh2",
      "webhookId": "sehha-wf2"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1qW4_4h6kcwDWxUmWMH3LNhv_gedQmngn",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Données_brutes",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "headerRow": 3
        }
      },
      "name": "Lire Donnees brutes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        480,
        300
      ],
      "id": "node-read"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const rows = $input.all().map(i => i.json);\n\nconst seuils = {\n  'Diabète': { indicateur: 'Prévalence (%)', seuil: 10, dir: 'lt' },\n  'Hypertension': { indicateur: 'Prévalence (%)', seuil: 25, dir: 'lt' },\n  'Tuberculose': { indicateur: 'Incidence (/100 000 hab)', seuil: 20, dir: 'lt' },\n  'Cancer': { indicateur: 'Survie à 5 ans (%)', seuil: 60, dir: 'gt' },\n  'Maladies cardiovasculaires': { indicateur: 'Mortalité (/100 000 hab)', seuil: 100, dir: 'lt' }\n};\n\nconst grouped = {};\nfor (const r of rows) {\n  if (!r.Maladie || !r.Valeur || !r.Année) continue;\n  const k = r.Maladie;\n  if (!grouped[k]) grouped[k] = {};\n  grouped[k][String(r.Année)] = parseFloat(r.Valeur);\n}\n\nconst results = [];\nfor (const [maladie, data] of Object.entries(grouped)) {\n  const v2019 = data['2019'], v2022 = data['2022'], v2023 = data['2023'];\n  if (!v2019 || !v2023) continue;\n  const evol5 = ((v2023 - v2019) / v2019 * 100).toFixed(1);\n  const evol1 = v2022 ? ((v2023 - v2022) / v2022 * 100).toFixed(1) : 'N/A';\n  const tendance = parseFloat(evol5) > 1 ? 'Hausse' : parseFloat(evol5) < -1 ? 'Baisse' : 'Stable';\n  const ref = seuils[maladie];\n  let statut = 'OK';\n  if (ref) {\n    const depasse = ref.dir === 'lt' ? v2023 > ref.seuil : v2023 < ref.seuil;\n    if (depasse) {\n      const ecart = Math.abs((v2023 - ref.seuil) / ref.seuil);\n      statut = ecart > 0.2 ? 'CRITIQUE' : 'DEPASSE';\n    }\n  }\n  results.push({ json: { maladie, val_2023: v2023, val_2019: v2019, evol_5ans_pct: evol5, evol_1an_pct: evol1, tendance, statut_OMS: statut, calcul_date: new Date().toLocaleDateString('fr-FR') } });\n}\nreturn results;"
      },
      "name": "Calculer indicateurs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ],
      "id": "node-calc"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.statut_OMS }}",
              "operation": "notEqual",
              "value2": "OK"
            }
          ]
        }
      },
      "name": "Alerte OMS ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "id": "node-if2"
    },
    {
      "parameters": {
        "fromEmail": "ton.email@gmail.com",
        "toEmail": "ton.email@gmail.com",
        "subject": "=SEHHA DATA — {{ $json.statut_OMS }} : {{ $json.maladie }}",
        "text": "=Alerte epidemiologique detectee :\n\nMaladie : {{ $json.maladie }}\nValeur 2023 : {{ $json.val_2023 }}\nStatut OMS : {{ $json.statut_OMS }}\nEvolution 5 ans : {{ $json.evol_5ans_pct }}%\nTendance : {{ $json.tendance }}\nDate calcul : {{ $json.calcul_date }}\n\n-- SEHHA DATA WF2",
        "options": {}
      },
      "name": "Email alerte OMS",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1200,
        180
      ],
      "id": "node-email-alerte"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qW4_4h6kcwDWxUmWMH3LNhv_gedQmngn",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Log_mises_à_jour",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "name": "Log calcul Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1200,
        420
      ],
      "id": "node-log2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Indicateurs calcules\", \"timestamp\": \"{{ $now.toISO() }}\" }"
      },
      "name": "Reponse OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1440,
        300
      ],
      "id": "node-resp2"
    }
  ],
  "connections": {
    "Webhook WF2": {
      "main": [
        [
          {
            "node": "Lire Donnees brutes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire Donnees brutes": {
      "main": [
        [
          {
            "node": "Calculer indicateurs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculer indicateurs": {
      "main": [
        [
          {
            "node": "Alerte OMS ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alerte OMS ?": {
      "main": [
        [
          {
            "node": "Email alerte OMS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log calcul Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email alerte OMS": {
      "main": [
        [
          {
            "node": "Reponse OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log calcul Sheets": {
      "main": [
        [
          {
            "node": "Reponse OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}