fichiers/WF3_SEHHA_RAPPORT_CITOYEN.json
{
  "name": "WF3 — SEHHA DATA · Rapport citoyen LLM",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sehha-rapport-citoyen",
        "options": {}
      },
      "name": "Webhook Botpress",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "node-wh3",
      "webhookId": "sehha-wf3"
    },
    {
      "parameters": {
        "mode": "runOnceForFirstItem",
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nreturn [{\n  json: {\n    question: body.question || 'Vue nationale des indicateurs epidemiologiques 2023',\n    region: body.region || 'National',\n    type_rapport: body.type_rapport || 'botpress',\n    user_id: body.user_id || 'anonymous'\n  }\n}];"
      },
      "name": "Extraire parametres",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "id": "node-params"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1qW4_4h6kcwDWxUmWMH3LNhv_gedQmngn",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Indicateurs",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "headerRow": 3
        }
      },
      "name": "Lire Indicateurs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        180
      ],
      "id": "node-ind"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1qW4_4h6kcwDWxUmWMH3LNhv_gedQmngn",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Alertes",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "headerRow": 3
        }
      },
      "name": "Lire Alertes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        360
      ],
      "id": "node-alt"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "1qW4_4h6kcwDWxUmWMH3LNhv_gedQmngn",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Vue_Régionale",
          "mode": "name"
        },
        "filtersUI": {},
        "options": {
          "headerRow": 3
        }
      },
      "name": "Lire Vue Regionale",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        540
      ],
      "id": "node-reg"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const indicateurs = $('Lire Indicateurs').all().map(i => i.json);\nconst alertes = $('Lire Alertes').all().map(i => i.json);\nconst regional = $('Lire Vue Regionale').all().map(i => i.json);\nconst params = $('Extraire parametres').first().json;\n\nconst snap_ind = indicateurs\n  .filter(r => r.Maladie)\n  .map(r => `${r.Maladie} | ${r.Indicateur} | 2023: ${r['2023']} | Seuil OMS: ${r['Seuil OMS']} | Statut: ${r['Statut 2023']}`)\n  .join('\\n');\n\nconst snap_alertes = alertes\n  .filter(r => r.Maladie)\n  .map(r => `${r.Maladie} — ${r['Valeur Maroc 2023']} vs seuil ${r['Seuil OMS']} → ${r['Niveau Criticité']} | ${r['Recommandation OMS']}`)\n  .join('\\n');\n\nconst snap_reg = regional\n  .filter(r => r.Région && r.Région !== 'NOTE')\n  .map(r => `${r.Région} | Diabète: ${r['Diabète — Prévalence (%)']}% | TB: ${r['Tuberculose — Incidence (/100k)']}/100k`)\n  .join('\\n');\n\nreturn [{\n  json: {\n    question: params.question,\n    region: params.region,\n    type_rapport: params.type_rapport,\n    user_id: params.user_id,\n    snapshot_indicateurs: snap_ind,\n    snapshot_alertes: snap_alertes,\n    snapshot_regional: snap_reg\n  }\n}];"
      },
      "name": "Construire snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        360
      ],
      "id": "node-snap"
    },
    {
      "parameters": {
        "authentication": "apiKey",
        "resource": "chat",
        "operation": "complete",
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "=Tu es SEHHA DATA, assistant epidemiologique expert en sante publique au Maroc.\n\nDONNEES INDICATEURS :\n{{ $json.snapshot_indicateurs }}\n\nALERTES OMS :\n{{ $json.snapshot_alertes }}\n\nVUE REGIONALE :\n{{ $json.snapshot_regional }}\n\nREGION : {{ $json.region }} | PERIODE : 2019-2023\n\nRAISONNE EN 4 ETAPES :\nEtape 1 - Lecture : quelles donnees sont pertinentes ?\nEtape 2 - Tendance : Hausse / Baisse / Stable ?\nEtape 3 - Interpretation : facteurs explicatifs\nEtape 4 - Limites : source, date, biais de declaration\n\nDISCLAIMER OBLIGATOIRE EN FIN : Ces donnees sont issues de sources officielles et ne constituent pas un avis medical. Pour toute question personnelle, consultez un professionnel de sante."
            },
            {
              "role": "user",
              "content": "={{ $json.question }}"
            }
          ]
        },
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "name": "LLM OpenAI GPT4o-mini",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1200,
        360
      ],
      "id": "node-llm"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Extraire parametres').first().json.type_rapport }}",
              "operation": "equal",
              "value2": "email"
            }
          ]
        }
      },
      "name": "Email ou Botpress ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1440,
        360
      ],
      "id": "node-route"
    },
    {
      "parameters": {
        "fromEmail": "ton.email@gmail.com",
        "toEmail": "ton.email@gmail.com",
        "subject": "=SEHHA DATA — Rapport epidemiologique {{ $now.format('MMMM YYYY') }}",
        "text": "=RAPPORT SEHHA DATA\nPeriode : 2019-2023 | Portee : Nationale\n\n{{ $json.choices[0].message.content }}\n\n---\nSources : DELM/Ministere Sante, OMS Bureau Maroc, HCP/ENPS\nCes donnees ne constituent pas un avis medical.\nMinistere de la Sante : www.sante.gov.ma | Numero vert : 080 100 47 47",
        "options": {}
      },
      "name": "Envoyer email citoyen",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1680,
        240
      ],
      "id": "node-email-cit"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok', reponse_llm: $json.choices[0].message.content, sources: 'DELM/Ministere Sante · OMS Bureau Maroc · HCP/ENPS', disclaimer: 'Ces donnees ne constituent pas un avis medical.', timestamp: $now.toISO() }) }}"
      },
      "name": "Reponse Botpress",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1680,
        480
      ],
      "id": "node-resp3"
    }
  ],
  "connections": {
    "Webhook Botpress": {
      "main": [
        [
          {
            "node": "Extraire parametres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraire parametres": {
      "main": [
        [
          {
            "node": "Lire Indicateurs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lire Alertes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lire Vue Regionale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire Indicateurs": {
      "main": [
        [
          {
            "node": "Construire snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire Alertes": {
      "main": [
        [
          {
            "node": "Construire snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lire Vue Regionale": {
      "main": [
        [
          {
            "node": "Construire snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construire snapshot": {
      "main": [
        [
          {
            "node": "LLM OpenAI GPT4o-mini",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM OpenAI GPT4o-mini": {
      "main": [
        [
          {
            "node": "Email ou Botpress ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email ou Botpress ?": {
      "main": [
        [
          {
            "node": "Envoyer email citoyen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reponse Botpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}